:-ms-input-placeholder{
    color: #d58512;
}
::-webkit-input-placeholder{
    color: #d58512;
}
::-moz-placeholder{
    color: #d58512;
}
header{
    height: 60px;
    margin-left: 5px;
    border-bottom: 1px solid #ddd;
    /*background: linear-gradient(#ffffff,#dddddd);*/
}
header img{
    height: 100%;
}
header h1{
    display: inline;
    vertical-align: middle;
    font-size:30px;
    color: #21AED9;
    text-shadow: 5px 5px 5px #ccc;
}
.brand-row{
    /*width: 100%;*/
    margin:  0 auto;
}
.brand{
    border-radius: 0;
    color: #fff;
    line-height: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    outline: 5px solid #fff;
    text-shadow: 2px 2px 2px #aaa;
}
.brand.b1{
    background: #FF9501;
    background: -webkit-linear-gradient(#FF9501,#FF7000);
    background: linear-gradient(#FF9501,#FF7000);
}
.brand.b2{
    background: #FFBB02;
    background: -webkit-linear-gradient(#FFBB02,#FFA802);
    background: linear-gradient(#FFBB02,#FFA802);
}
.brand.b3{
    background: #AFD727;
    background: -webkit-linear-gradient(#AFD727,#D2E614);
    background: linear-gradient(#AFD727,#D2E614);
}
.brand.b4{
    background: #20E07D;
    background: -webkit-linear-gradient(#20E07D,#20C77D);
    background: linear-gradient(#20E07D,#20C77D);
}
.brand.b5{
    background: #01DBFF;
    background: -webkit-linear-gradient(#01DBFF,#01DBD2);
    background: linear-gradient(#01DBFF,#01DBD2);
}
.brand.b6{
    background: #16C1EC;
    background: -webkit-linear-gradient(#16C1EC,#20C1D7);
    background: linear-gradient(#16C1EC,#20C1D7);
}
.brand.b7{
    background: #19E6AB;
    background: -webkit-linear-gradient(#19E6AB,#19C3AB);
    background: linear-gradient(#19E6AB,#19C3AB);
}
.brand.b8{
    background: #21E0D9;
    background: -webkit-linear-gradient(#21E0D9,#21AED9);
    background: linear-gradient(#21E0D9,#21AED9);
}
.brand.b9{
    background: #C7E718;
    background: -webkit-linear-gradient(#C7E718,#C7C40E);
    background: linear-gradient(#C7E718,#C7C40E);
}
.brand.b10{
    background: #FFFF00;
    background: -webkit-linear-gradient(#FFFF00,#FFE600);
    background: linear-gradient(#FFFF00,#FFE600);
}
.input_left{
    background: url("../images/input_left.png") no-repeat;
    height: 70px;
    width: 30px;
}
.input_center{
    background: url("../images/input_center.png") repeat-x;
    height: 70px;
    min-width: 100px;
}
.input_right{
    background: url("../images/input_right.png") no-repeat;
    height: 70px;
    width: 60px;
}
.search_div div{
    float: left;
}
#search{
    height: 35px;
    margin-top: 18px;
    border: 0;
    padding: 0;
}
footer{
    text-align: center;
    color: #21AED9;
    text-shadow: 5px 5px 5px #ccc;
    margin-top: 10px;
}

.triangle-right{
    width: 0;
    height: 0;
    border: 8px transparent solid;
    border-left-color: #fff;
    float: left;
    margin-left:-15px;
    margin-top: 28px;
}